.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-height: none;
  padding-top: 100px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#fff)), url('../images/Capitol-Desaturated.JPG');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff), url('../images/Capitol-Desaturated.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
}

.hero-overlay.hide {
  display: none;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.feature-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.feature-section.blue {
  padding-top: 100px;
  background-color: #5478ad;
  background-image: url('../images/slice-flip.png'), url('../images/wrinkles.png');
  background-position: 50% 0%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.feature-section.blue.gray-slice {
  background-image: url('../images/gray-slice-flip.png'), url('../images/wrinkles.png');
}

.feature-section.gray {
  padding-bottom: 100px;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(hsla(0, 0%, 100%, 0))), url('../images/slice.png'), url('../images/wrinkles.png');
  background-image: linear-gradient(180deg, #eee, hsla(0, 0%, 100%, 0)), url('../images/slice.png'), url('../images/wrinkles.png');
  background-position: 0px 0px, 50% 100%, 0px 0px;
  background-size: auto, contain, auto;
  background-repeat: repeat, no-repeat, repeat;
}

.feature-section.gray.top {
  padding-bottom: 0px;
  background-image: none;
}

.feature-section.mountains {
  padding-top: 100px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.44)), to(hsla(0, 0%, 100%, 0.8))), url('../images/slice-flip.png'), url('../images/mountain-top-973307_1920.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.44), hsla(0, 0%, 100%, 0.8)), url('../images/slice-flip.png'), url('../images/mountain-top-973307_1920.jpg');
  background-position: 0px 0px, 50% 0%, 50% 0%;
  background-size: auto, contain, cover;
  background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, fixed;
}

.feature-section.red {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: red;
  background-image: url('../images/wrinkles.png'), -webkit-gradient(linear, left top, left bottom, from(red), to(#a30000));
  background-image: url('../images/wrinkles.png'), linear-gradient(180deg, red, #a30000);
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  background-attachment: fixed, scroll;
}

.feature-section.red.hide {
  display: none;
}

.feature-section.blue2 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #5478ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 94, 0.55)), to(rgba(8, 43, 94, 0.55))), url('../images/background-blank-brick-wall-bricks-empty-painted-1433401-pxhere.com.jpg');
  background-image: linear-gradient(180deg, rgba(8, 43, 94, 0.55), rgba(8, 43, 94, 0.55)), url('../images/background-blank-brick-wall-bricks-empty-painted-1433401-pxhere.com.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.feature-section.blue2.family {
  display: none;
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(28%, hsla(0, 0%, 100%, 0))), url('../images/slice-flip.png'), -webkit-gradient(linear, left top, left bottom, from(rgba(27, 34, 104, 0.55)), to(rgba(27, 34, 104, 0.55))), url('../images/stevens-family-walking-bw.jpeg');
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 28%), url('../images/slice-flip.png'), linear-gradient(180deg, rgba(27, 34, 104, 0.55), rgba(27, 34, 104, 0.55)), url('../images/stevens-family-walking-bw.jpeg');
  background-position: 0px 0px, 50% 0%, 0px 0px, 50% 50%;
  background-size: auto, contain, auto, cover;
  background-repeat: repeat, no-repeat, repeat, no-repeat;
  background-attachment: scroll, scroll, scroll, fixed;
}

.feature-section.wallet {
  position: relative;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.81)), to(hsla(0, 0%, 100%, 0.81))), url('../images/wallet-2.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.81), hsla(0, 0%, 100%, 0.81)), url('../images/wallet-2.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}

.feature-section.baby {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.64)), to(hsla(0, 0%, 100%, 0.64))), url('../images/hand-stone-leg-finger-arm-baby-917837-pxhere.com.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.64), hsla(0, 0%, 100%, 0.64)), url('../images/hand-stone-leg-finger-arm-baby-917837-pxhere.com.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}

.feature-section.white {
  max-height: none;
  min-height: 100vh;
  background-color: #fff;
  background-image: none;
}

.feature-section.white.compare {
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 32%), url('../images/american-flag.png'), linear-gradient(270deg, #dddfff, #ffe6e6), linear-gradient(255deg, #d6ddff 45%, #f6b4b4 55%);
  background-position: 0px 0px, 50% 50%, 0px 0px, 0px 0px;
  background-size: auto, cover, auto, auto;
  background-repeat: repeat, no-repeat, repeat, repeat;
  background-attachment: scroll, fixed, scroll, scroll;
}

.feature-section.eee {
  background-color: #eee;
}

.feature-section.stance {
  padding-top: 10px;
  padding-bottom: 80px;
  background-image: url('../images/gray-slice.png'), -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(93%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(15%, hsla(0, 0%, 100%, 0.54))), url('../images/House-of-Reps.jpg');
  background-image: url('../images/gray-slice.png'), linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0) 93%), linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.54) 15%), url('../images/House-of-Reps.jpg');
  background-position: 50% 100%, 0px 0px, 0px 0px, 0% 0%;
  background-size: contain, auto, auto, cover;
  background-repeat: no-repeat, repeat, repeat, no-repeat;
  background-attachment: scroll, scroll, scroll, scroll;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-container.apart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-container.compare {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-container.stance {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feature-image-mask {
  width: 100%;
  height: auto;
  margin-right: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-image-mask.family {
  width: 50vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.feature-image-mask.medium {
  width: 32vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.feature-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.navbar {
  background-color: #fff;
}

.navigation-bar {
  background-color: #fff;
  opacity: 1;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d80808;
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 700;
  text-align: left;
}

.brand-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.brand-link.w--current {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #b9b9b9;
}

.navigation-link:hover {
  color: #2e9dff;
}

.mayor {
  color: #2f00da;
}

.container {
  position: static;
  overflow: visible;
  width: 100%;
  height: 60px;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.container.wide {
  position: static;
  display: inline;
  height: auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1069px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -o-object-fit: fill;
  object-fit: fill;
}

.bold-text {
  color: #919191;
  font-weight: 300;
}

.heading {
  font-family: Merriweather, serif;
  color: #ff4141;
  font-size: 9em;
  line-height: 0.75em;
  font-weight: 700;
}

.heading.sub {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 3.5em;
}

.heading-2 {
  color: #fff;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
}

.paragraph {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.2em;
}

.paragraph-2 {
  color: #777;
  font-size: 1.5em;
  line-height: 1.2em;
}

.paragraph-2.white {
  color: #fff;
}

.paragraph-2.darker {
  color: #555;
}

.paragraph-2.space-above {
  margin-top: 100px;
}

.paragraph-2.space-above.closer {
  max-width: 1000px;
  margin-top: 40px;
  font-size: 1.2em;
  text-align: left;
}

.paragraph-2.center {
  text-align: center;
}

.paragraph-2.center.red {
  margin-top: 10px;
  color: #e20000;
}

.paragraph-2.center.blue {
  margin-top: 10px;
  color: #0912b9;
}

.paragraph-2.center.compare {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #555;
}

.paragraph-2.center.compare.bill {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1em;
  font-style: italic;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #777;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
}

.heading-3.white {
  color: #fff;
}

.heading-3.darker {
  color: #555;
}

.heading-3.compare {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #555;
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
}

.heading-3.compare.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading-4 {
  color: #fc0000;
  text-align: center;
}

.bold-text-2 {
  color: #777;
}

.bold-text-2.darker {
  color: #555;
}

.white {
  color: #fff;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  display: block;
  max-width: 100%;
  border: 1px none #000;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.image {
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-block-14 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 35px;
}

.button {
  margin-top: 40px;
  background-color: #d00;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

.button.donate {
  background-color: #24d600;
}

.div-block-15 {
  text-align: center;
}

.div-block-16 {
  text-align: center;
}

.div-block-17 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-6 Area-2"
    "Area-3 Area-4 Area-5";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 226px 16px auto 16px auto;
  grid-template-rows: 226px auto auto;
}

.vs {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
}

.div-block-18 {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#fff));
  background-image: linear-gradient(180deg, #dcdcdc, #fff);
  outline-color: #777;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 6px;
  color: #4b4b4b;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.columns.line {
  height: auto;
  border-top: 1px none #000;
  border-bottom: 1px solid #000;
}

.columns.line.hide1 {
  display: none;
}

.columns.line.hide2 {
  display: none;
}

.columns.line.hide3 {
  display: none;
}

.columns.line.hide4 {
  display: none;
}

.columns.title {
  margin-bottom: 0px;
  padding-top: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns.title.pics {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.column-2.middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-6.middle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  font-size: 0.8em;
  line-height: 0.8em;
  font-style: italic;
  font-weight: 400;
}

.list {
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #555;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
  list-style-type: square;
}

@media screen and (max-width: 991px) {
  .feature-section.wallet {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.81)), to(hsla(0, 0%, 100%, 0.81))), url('../images/wallet-2.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.81), hsla(0, 0%, 100%, 0.81)), url('../images/wallet-2.jpg');
    background-position: 0px 0px, 0% 100%;
    background-size: auto, contain;
    background-repeat: repeat, no-repeat;
  }

  .feature-section.white {
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .feature-section.white.compare {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(28%, hsla(0, 0%, 100%, 0))), url('../images/american-flag.png'), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.5)), to(hsla(0, 0%, 100%, 0.5))), -webkit-gradient(linear, right top, left top, color-stop(25%, #d6ddff), color-stop(75%, #f6b4b4));
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 28%), url('../images/american-flag.png'), linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), linear-gradient(270deg, #d6ddff 25%, #f6b4b4 75%);
    background-position: 0px 0px, 50% 50%, 0px 0px, 0px 0px;
    background-size: auto, cover, auto, auto;
    background-repeat: repeat, no-repeat, repeat, repeat;
    background-attachment: scroll, fixed, scroll, scroll;
  }

  .feature-section.stance {
    padding-top: 10px;
    padding-bottom: 40px;
    background-image: url('../images/gray-slice.png'), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.74)), to(hsla(0, 0%, 100%, 0.74))), -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(18%, hsla(0, 0%, 100%, 0.54))), url('../images/House-of-Reps.jpg');
    background-image: url('../images/gray-slice.png'), linear-gradient(180deg, hsla(0, 0%, 100%, 0.74), hsla(0, 0%, 100%, 0.74)), linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.54) 18%), url('../images/House-of-Reps.jpg');
    background-position: 50% 100%, 0px 0px, 0px 0px, 0% 0%;
    background-size: contain, auto, auto, cover;
    background-repeat: no-repeat, repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll, fixed;
  }

  .flex-container.apart {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }

  .flex-container.apart.test {
    display: none;
  }

  .flex-container.stance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask.family {
    display: block;
    overflow: visible;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .hamburger-button.w--open {
    background-color: #3b99d9;
  }

  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .navigation-menu {
    background-color: #3b99d9;
  }

  .paragraph-2 {
    text-align: left;
  }

  .paragraph-2.space-above {
    text-align: center;
  }

  .heading-3.compare {
    font-size: 2em;
  }

  .vs {
    font-size: 1.4em;
    line-height: 1.2em;
  }

  .div-block-18 {
    width: 3em;
    height: 3em;
  }
}

@media screen and (max-width: 767px) {
  .hero-overlay {
    padding: 40px 20px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .feature-section.gray {
    padding-bottom: 40px;
  }

  .feature-section.blue2.family {
    background-image: url('../images/slice-flip.png'), -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/stevens-family-walking-bw.jpeg');
    background-image: url('../images/slice-flip.png'), linear-gradient(180deg, null, null), url('../images/stevens-family-walking-bw.jpeg');
    background-position: 50% 0%, 0px 0px, 40% 50%;
  }

  .feature-section.wallet {
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.86)), to(hsla(0, 0%, 100%, 0.86))), url('../images/wallet-2.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.86), hsla(0, 0%, 100%, 0.86)), url('../images/wallet-2.jpg');
    background-position: 0px 0px, 20% 100%;
    background-size: auto, 200%;
    background-repeat: repeat, no-repeat;
  }

  .feature-section.baby {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.66)), to(hsla(0, 0%, 100%, 0.66))), url('../images/hand-stone-leg-finger-arm-baby-917837-pxhere.com.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.66), hsla(0, 0%, 100%, 0.66)), url('../images/hand-stone-leg-finger-arm-baby-917837-pxhere.com.jpg');
    background-position: 0px 0px, 35% 50%;
    background-size: auto, cover;
  }

  .feature-section.stance {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-container.apart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-container.compare {
    max-width: 95%;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image-mask.family {
    width: 100%;
    margin-bottom: 40px;
  }

  .feature-image-mask.medium {
    width: 100%;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-2.center.red {
    margin-bottom: 0px;
    line-height: 1.5em;
  }

  .paragraph-2.center.blue {
    margin-bottom: 0px;
  }

  .paragraph-2.center.compare {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .heading-3 {
    font-size: 2em;
    line-height: 1.2em;
  }

  .heading-3.compare {
    font-size: 1.5em;
  }

  .main-content {
    padding: 40px 20px;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }

  .div-block-14 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 35px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
  }

  .vs {
    font-size: 1em;
    line-height: 0.8em;
  }

  .div-block-18 {
    width: 2em;
    height: 2em;
  }

  .column-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .list {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }

  .feature-section.blue2.family {
    background-image: url('../images/slice-flip.png'), -webkit-gradient(linear, left top, left bottom, from(rgba(43, 66, 160, 0.53)), to(rgba(43, 66, 160, 0.53))), url('../images/stevens-family-walking-bw.jpeg');
    background-image: url('../images/slice-flip.png'), linear-gradient(180deg, rgba(43, 66, 160, 0.53), rgba(43, 66, 160, 0.53)), url('../images/stevens-family-walking-bw.jpeg');
    background-position: 50% 0%, 0px 0px, 40% 50%;
    background-size: contain, auto, cover;
    background-repeat: no-repeat, repeat, repeat;
    background-attachment: scroll, scroll, fixed;
  }

  .feature-section.wallet {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.77)), to(hsla(0, 0%, 100%, 0.77))), url('../images/wallet-2.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.77), hsla(0, 0%, 100%, 0.77)), url('../images/wallet-2.jpg');
    background-position: 0px 0px, 20% 100%;
    background-size: auto, 200%;
  }

  .feature-section.white.compare {
    padding-right: 0px;
    padding-left: 0px;
  }

  .feature-section.stance {
    padding-bottom: 20px;
  }

  .flex-container.compare {
    max-width: 97%;
  }

  .logo {
    font-size: 1.2em;
  }

  .container.wide {
    position: static;
    background-color: #fff;
  }

  .paragraph-2.center.red {
    font-size: 1.4em;
  }

  .paragraph-2.center.blue {
    font-size: 1.4em;
  }

  .paragraph-2.center.compare {
    font-size: 1em;
    line-height: 1.2em;
  }

  .heading-3.compare {
    font-size: 1.25em;
  }

  .footer.center {
    border-top-style: none;
  }

  .vs {
    line-height: 0.3em;
  }

  .div-block-18 {
    font-size: 1.5em;
  }

  .columns.line.top {
    height: 25px;
  }

  .list {
    font-size: 1.5em;
  }
}

#w-node-_90ad1c10-2f8a-f6a8-d4cf-ccc4abe95a10-70e3401d {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-6;
}

#w-node-e4ee2aa2-5abe-0b1d-2b88-cc5c9a06d51b-70e3401d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e4ee2aa2-5abe-0b1d-2b88-cc5c9a06d522-70e3401d {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a6c1ffc4-a14a-7abe-8afe-26ada765b142-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-a6c1ffc4-a14a-7abe-8afe-26ada765b14e-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_2fe865f1-4475-874c-727a-f220d23045d9-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_2fe865f1-4475-874c-727a-f220d23045dc-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_2fe865f1-4475-874c-727a-f220d23045df-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_7a94f17b-9d35-c4e4-2553-f6b755e98e35-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_7a94f17b-9d35-c4e4-2553-f6b755e98e38-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_7a94f17b-9d35-c4e4-2553-f6b755e98e3b-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_2357bd31-7164-e61b-45f2-8cba8e5a3726-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_2357bd31-7164-e61b-45f2-8cba8e5a3729-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_2357bd31-7164-e61b-45f2-8cba8e5a372c-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_84a4c6b0-719e-6227-dc38-481953dfa948-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_84a4c6b0-719e-6227-dc38-481953dfa94b-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_84a4c6b0-719e-6227-dc38-481953dfa94e-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_3367c475-997d-7a26-ab4b-725d8bfaae77-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_3367c475-997d-7a26-ab4b-725d8bfaae7a-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_3367c475-997d-7a26-ab4b-725d8bfaae83-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-a4173902-c20d-f626-8dfc-86537daed77c-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-a4173902-c20d-f626-8dfc-86537daed77f-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-a4173902-c20d-f626-8dfc-86537daed782-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-b3ea3505-cabd-7c3b-3870-079e65b6774b-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-b3ea3505-cabd-7c3b-3870-079e65b6774e-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-b3ea3505-cabd-7c3b-3870-079e65b67751-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}

#w-node-_163e9929-3f48-a7e4-793b-8d2982527917-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-_163e9929-3f48-a7e4-793b-8d298252791a-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-_163e9929-3f48-a7e4-793b-8d298252791d-70e3401d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: Area-5;
}